header > div {
  display: inline-block;
}
main{
  height: auto;
}
#logo {
  width:60%;
  height: 12%;
  padding: 15px;
  margin: 10px;
  background-image: url("../img/canvas.png");
  background-size: 100% 100%;
  box-sizing: border-box;
  line-height: 400%;
  text-align: center;
  cursor: pointer;
}
#ddmenu {
    width:6em;
    height: 12%;
    padding: 15px;
    margin: 10px;
    background-image: url("../img/canvas.png");
    background-size: 100% 100%;
    box-sizing: border-box;
    float: right;
    text-align: center;
    vertical-align: center;
    line-height: 400%;
    cursor: pointer;
}
#navbar {
  display: none;
  text-decoration: none;
  width: 50%;
  height: 80vh;
  float: right;
  box-sizing: border-box;
  padding-left: 10;
  background-color: rgba(82,82,82,0.5);
  z-index: 1;
  position: absolute;
  right: 0.5%;
  top: 0.5%;
	transition: display 10s;
	-webkit-transition: display 10s;
	transition-timing-function: ease;
	-webkit-transition-timing-function: ease;
}
#navbar a{
  display: block;
  text-align: right;
  padding: 10%;
}
#firstpage {
  width: 100%;
  height: 94vmax;
  background-image: url("../img/canvas.png");
  background-size: 100% 100%;
  box-sizing: border-box;
  float: right;
  text-align: center;
  vertical-align: center;
}
.welcome {
  width:80%;
  height: 30%;
  padding: 15px;
  margin: 0 auto;
  margin-top: 12%;
  background-image: url("../img/canvas.png");
  background-size: 100% 100%;
  box-sizing: border-box;
  text-align: center;
  line-height: 350%;
}
.description {
  width:80%;
  height: 15%;
  padding: 15px;
  margin: 0 auto;
  margin-top: 3%;
  background-image: url("../img/canvas.png");
  background-size: 100% 100%;
  box-sizing: border-box;
  text-align: center;
  line-height: 350%;
}
.charm{
  width:80%;
  height: 30%;
  padding: 15px;
  margin: 0 auto;
  margin-top: 3%;
  background-image: url("../img/canvas.png");
    background-size: 100% 100%;
  box-sizing: border-box;
  text-align: center;
  line-height: 350%;
}
#secondpage {
  width:100%;
  height: 100%;
  background-image: url("../img/canvas.png");
  background-size: 100% 100%;
  box-sizing: border-box;
  float: left;
  text-align: center;
  vertical-align: center;
}
#thirdpage {
  width:100%;
  height: 100%;
  background-image: url("../img/canvas.png");
  background-size: 100% 100%;
  box-sizing: border-box;
  float: right;
  text-align: center;
  vertical-align: center;
}
#wpp {
  width:6em;
  height:6em;
  position: fixed;
  right: 0.1%;
  bottom: 4%
}
#wpp img {
  max-width: 100%;
    max-height: 100%;
}
@media screen and (min-width:1024px) {
  #ddmenu {
      width:55%;
      height: 6rem;
      padding: 15px;
      margin: 10px;
      background-image: url("../img/canvas.png");
      background-size: 100% 100%;
      box-sizing: border-box;
      float: right;
      text-align: center;
      line-height: 350%;
      display: none;
  }
  #logo {
    width:40%;
    height: 6rem;
    padding: 15px;
    margin: 10px;
    background-image: url("../img/canvas.png");
    background-size: 100% 100%;
    box-sizing: border-box;
    text-align: center;
    line-height: 600%;
  }
  #navbar {
    display: inline-block;
    float: right;
    width:55%;
    height: 6rem;
    padding: 15px;
    margin: 10px;
    background-image: url("../img/canvas.png");
    background-size: 100% 100%;
    box-sizing: border-box;
    text-align: center;
    line-height: 300%
  }
  #navbar a{
    display: inline;
  }
  #firstpage {
    margin: 0 5%;
    width: 90%;
  }
  #firstpage .welcome, .charm {
    height:24%
  }
  #firstpage .description {
    height:12%
  }
  #secondpage {
    margin: 0 5%;
    width: 90%;
  }
  #thirdpage {
    margin: 0 5%;
    width: 90%;
  }
}
@media screen and (min-width:1360px) {
  #ddmenu {
      width:55%;
      height: 6rem;
      padding: 15px;
      margin: 10px;
      background-image: url("../img/canvas.png");
      background-size: 100% 100%;
      box-sizing: border-box;
      float: right;
      text-align: center;
      line-height: 350%;
  }
  #logo {
    width:40%;
    height: 6rem;
    padding: 15px;
    margin: 10px;
    background-image: url("../img/canvas.png");
    background-size: 100% 100%;
    box-sizing: border-box;
    text-align: center;
    line-height: 600%;
  }
  #firstpage {
    margin: 0 10%;
    width: 80%;
  }
  #firstpage .welcome, .charm {
    height:24%
  }
  #firstpage .description {
    height:12%
  }
  #secondpage {
    margin: 0 2%;
    width: 46%
  }
  #thirdpage {
    margin: 0 2%;
    width: 46%
  }
}
