.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}


/* .product-device {
  position: relative;
  right: 10%;
  bottom: -30%;
  width: 7%;
  height: 15%;
  background-color: #333;
  border-radius: 8px;
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 2px;
}

.product-device-2 {
  top: -5%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
} */


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
.overflow-auto { overflow: auto; }
#ddmenu {
  cursor: pointer;
  color: #999 !important;
}
#mobilenavbar {
  z-index: 1050;
  position: fixed;
  top: 0px;
  right: 0;
  background-color: rgba(37,37,41,1);
}
@media screen and (min-width:768px) {
	h1 {
		font-size:4rem !important;
    }
}
@media screen and (min-width:992px) {
	h1 {
		font-size:4.5rem !important;
    }
}
@media screen and (min-width:1200px) {
	h1 {
		font-size:5rem !important;
    }
}
@media screen and (min-width:992px) and (max-width:1199px) {
  .img-fluid {
    width:100% !important;
  }
}
@media screen and (max-width:767px) {
  #logo {
    position:fixed;
  }
  /* #welcomehome {  
    height: calc(100vh - 48px);
  } */
}
