html {
  max-width: 1920px;
  margin: 0 auto;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.overflow-hidden { overflow: hidden; }
.overflow-auto { overflow: auto; }
#ddmenu {
  cursor: pointer;
  font-size: 28px;
}
#navbar {
  z-index: 1050;
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  background-color: rgba(37,37,41,1);
}
#mobilenavbar {
  z-index: 1050;
  position: absolute;
  top: 0px;
  right: 0;
  background-color: rgba(37,37,41,1);
}

.bg-salmao {
  background-color: #FFF7FC;
}
.bg-gradiente-light2salmao {
  background: rgb(248,249,250);
  background: linear-gradient(90deg, rgba(248,249,250,1) 40%, rgba(255,247,252,1) 60%);
}
@media screen and (min-width:768px) {
	h1 {
		font-size:4rem !important;
    }
}
@media screen and (min-width:992px) {

}
@media screen and (min-width:1200px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  #layoutCarrossel {
    width: 100%;
    max-height: 270px !important;
  }
  .carousel-inner{
    width:100%;
    max-height: 270px !important;
}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #layoutCarrossel {
    width: 100%;
    max-height: 431px !important;
  }
  .carousel-inner{
  width:100%;
  max-height: 431px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #layoutCarrossel {
    max-height: 558px !important;
  }
  /* #layoutCarrossel::before {
    content: "Escolha o Layout que é a sua cara";
    position: absolute !important;
    bottom: 7%;
    left: 5%;
    z-index: 1000;
    color: black;
    font-family: inherit;
    font-size: 2em;
    font-weight: 500;
    border: 1px silver dashed;
  } */
  .carousel-inner{
  width:100%;
  max-height: 558px !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .img-fluid {
    width:100% !important;
  }
  #layoutCarrossel {
    max-height: 675px !important;
  }
  .carousel-inner{
  width:100%;
  max-height: 675px !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1359px) {
  main {
    width:90%;
    margin: 0 auto;
  }
  #layoutCarrossel {
    max-height: 765px !important;
  }
  .carousel-item {
    object-fit:fill;
    max-height:765px !important;
  }
  .carousel-inner{
  width:100%;
  max-height: 765px !important;
  }
}
@media only screen and (min-width: 1360px) {
  main {
    width:84%;
    margin: 0 auto;
  }

  .carousel-inner{
  width:100%;
  }
}

.Trocar {
  text-decoration: line-through;
}
