html {
  font-size: 16px;
}
.container {
  max-width: 800px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}



.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }

}
#ddmenu {
  cursor: pointer;
  font-size: 28px;
}
#navbar {
  z-index: 1050;
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  background-color: rgba(37,37,41,1);
  font-variant: small-caps;
}
#mobilenavbar {
  z-index: 1050;
  position: absolute;
  top: 0px;
  right: 0;
  background-color: rgba(37,37,41,1);
  font-variant: small-caps;

}

@media screen and (min-width:768px) {
	h1 {
		font-size:4rem !important;
    }

}
@media only screen and (min-width: 1200px) and (max-width: 1359px) {
  main {
    width:90%;
    margin: 0 auto;
  }

}
@media only screen and (min-width: 1360px) {
  main {
    width:84%;
    margin: 0 auto;
  }
}
