<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Meu Site</title>
    <meta name="application-name" content="Meu Site">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#212529">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Meu Site">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/carrinho.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="css/carrinho.css" rel="stylesheet">
  </head>
<body>
    <!-- navbar block -->
    <header>

    </header>
    <nav id="navbar" class="site-header sticky-top py-1">
      <div class="container d-flex flex-row justify-content-around">
        <a class="py-2 text-white" href="index.html">
           Logo here
        </a>
        <a class="py-2 d-none d-md-inline-block" href="#">Produto</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Empresa</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Suporte</a>
        <a class="py-2 d-none d-md-inline-block" href="preco.html">Preços</a>
        <a class="btn btn-outline-info py-2 d-none d-md-inline-block text-white" href="login.html">Autenticar Usuário</a>
      </div>
    </nav>
    <!-- building block -->
<main>
  <!-- Large cart design -->
  <!-- Large cart block -->
  <div class="bg-light d-none d-md-block border-top border-bottom mt-3">
    <div class="container">
      <div class="cart-header lead">
        Meu carrinho (3 itens)
      </div>
      <div class="cart-body">
        <div class="row title">
          <div class="col-7" >
            Produto
          </div>
          <div class="col" style="text-align:center">
            <div class="row">
              <div class="col-4">
                Quantidade
              </div>
              <div class="col-4">
                Preço
              </div>
              <div class="col-4 bg-light">
                Total
              </div>
            </div>
          </div>
        </div>
        <div class="row item">
          <div class="col-7">
            <div class="row">
              <div class="img-thumbnail col-auto ml-3">
                <img class="img img-fluid" src="img/thumb-cart1.jpg" alt="product 1"/>
              </div>
              <div class="description-thumbnail-box col" style="color:black;">
                <div class="">

                </div>
                <div class="">
                  Cor: única <br>
                  Tamanho: M <br>
                  Código: ABC123
                </div>
              </div>
            </div>
          </div>
          <div class="col" style="text-align:center">
            <div class="row" style="height:100%">
              <div class="col-4">
                1
              </div>
              <div class="col-4">
                R$ 39,99
              </div>
              <div class="col-4 bg-light">
                R$ 39,99
              </div>
            </div>
          </div>
        </div>
        <div class="row item">
          <div class="col-7">
            <div class="row">
              <div class="img-thumbnail col-auto ml-3">
                <img class="img img-fluid" src="img/thumb-cart2.jpg" alt="product 1"/>
              </div>
              <div class="description-thumbnail-box col" style="color:black;">
                <div class="">

                </div>
                <div class="">
                  Cor: Branca <br>
                  Tamanho: M <br>
                  Código: ABC123
                </div>
              </div>
            </div>
          </div>
          <div class="col" style="text-align:center">
            <div class="row" style="height:100%">
              <div class="col-4">
                1
              </div>
              <div class="col-4">
                R$ 44,99
              </div>
              <div class="col-4 bg-light">
                R$ 44,99
              </div>
            </div>
          </div>
        </div>
        <div class="row item">
          <div class="col-7">
            <div class="row">
              <div class="img-thumbnail col-auto ml-3">
                <img class="img img-fluid" src="img/thumb-cart3.jpg" alt="product 1"/>
              </div>
              <div class="description-thumbnail-box col" style="color:black;">
                <div class="">

                </div>
                <div class="">
                  Cor: Sortido <br>
                  Tamanho: G <br>
                  Código: ABC323
                </div>
              </div>
            </div>
          </div>
          <div class="col" style="text-align:center">
            <div class="row" style="height:100%">
              <div class="col-4">
                2
              </div>
              <div class="col-4">
                R$ 24,99
              </div>
              <div class="col-4 bg-light">
                R$ 49,98
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-footer ">
        <div class="row">
          <div class="col-7">

          </div>
          <div class="col">
            <div class="row">
              <div class="col">

              </div>
              <div class="col">
                subtotal
              </div>
              <div class="col">
                R$ 134,96
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-7">

          </div>
          <div class="col">
            <div class="row">
              <div class="col">

              </div>
              <div class="col">
                frete
              </div>
              <div class="col">
                R$ 24,12
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- cart Checkout block -->
  <div class="bg-light d-none d-md-block border-top border-bottom mt-3">
    <div class="container" style="text-align:right">
      <div class="">
        Total da Compra
      </div>
      <div class="btn ">
        Pagamento
      </div>
    </div>
  </div>
</main>
<footer class="mt-3">
  <!-- rodapé block -->
  <div class="NavBarBottom">
    <div class="container d-flex flex-row justify-content-around">
      <a class="nav-link text-secondary overflow-hidden" href="#">Topo do Site</a>
      <a class="py-2 text-white" href="index.html">
         Logo here
      </a>
      <a class="nav-link text-secondary overflow-hidden" href="layout2.html"><span class="d-inline">Voltar para Pagina inicial</span></a>
    </div>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
      LOGO
        <small class="d-block mb-3 text-muted">&copy; 2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Business</a></li>
          <li><a class="text-muted" href="#">Education</a></li>
          <li><a class="text-muted" href="#">Government</a></li>
          <li><a class="text-muted" href="#">Gaming</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>
</body>
</html>
