<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Layout 2 - Vestuário</title>
    <meta name="application-name" content="Meu Site">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#212529">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Meu Site">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/layout2.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="css/layout2.css" rel="stylesheet">
  </head>
<body>
    <!-- building block -->
    <header class="fixed-top">
      <!-- navbar -->
      <nav class="container px-0 pt-0 pb-0">
        <div id="navbar" class="text-white d-flex justify-content-between  navbar navbar-expand-md navbar-dark border-bottom header-dark">
          <div class="order-3 order-md-1 col-md-4 collapse navbar-collapse" id="navbarMenu1">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item mx-1 d-block"><a href="#">Roupas</a></li>
              <li class="nav-item mx-1">Calçados</li>
              <li class="nav-item mx-1"><a href="../index.html">Sale <span class="d-inline d-md-none d-xl-inline" data-feather="gift"></span></a></li>
              <li class="nav-item dropdown megamenu show">
                <a class="nav-link dropdown-toggle no-icon-md w-100" href="#!" id="navbarDropdown-colecao" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Coleções
                </a>
                <div id="colecoes" class="dropdown-menu hide my-3 py-0 border-0 text-white" aria-labelledby="navbarDropdown-colecao">
                  <div class="row d-flex flex-row" style="padding-right: 0px !important;
                  padding-left: 0px !important;">
                    <div>
                      <ul>
                        <li><span class="megamenu-title">Home</span></li>
                        <li><a class="dropdown-item" href="index.html">Home - classic</a></li>
                        <li><a class="dropdown-item" href="index-carousel.html">Home - carousel</a></li>
                        <li><a class="dropdown-item" href="index-categories.html">Home - categories</a></li>
                        <li><a class="dropdown-item" href="index-modern.html">Home - modern</a></li>
                        <li><a class="dropdown-item" href="index-minimal.html">Home - minimal</a></li>
                        <li><span class="megamenu-title">Shop</span></li>
                        <li><a class="dropdown-item" href="listing-sidebar.html">Listing - sidebar</a></li>
                        <li><a class="dropdown-item" href="listing-full.html">Listing - full width</a></li>
                        <li><a class="dropdown-item" href="listing-masonry.html">Listing - masonry</a></li>
                        <li><a class="dropdown-item" href="listing-modern.html">Listing - modern</a></li>
                      </ul>
                    </div>
                    <div style="max-width: 275px">
                      <ul>
                        <li><span class="megamenu-title">Home</span></li>
                        <li><a class="dropdown-item" href="index.html">Home - classic</a></li>
                        <li><a class="dropdown-item" href="index-carousel.html">Home - carousel</a></li>
                        <li><a class="dropdown-item" href="index-categories.html">Home - categories</a></li>
                        <li><a class="dropdown-item" href="index-modern.html">Home - modern</a></li>
                        <li><a class="dropdown-item" href="index-minimal.html">Home - minimal</a></li>
                        <li><span class="megamenu-title">Shop</span></li>
                        <li><a class="dropdown-item" href="listing-sidebar.html">Listing - sidebar</a></li>
                        <li><a class="dropdown-item" href="listing-full.html">Listing - full width</a></li>
                        <li><a class="dropdown-item" href="listing-masonry.html">Listing - masonry</a></li>
                        <li><a class="dropdown-item" href="listing-modern.html">Listing - modern</a></li>
                      </ul>
                    </div>
                    <div class="d-none d-lg-inline-block">
                      <img class="d-none d-md-inline-block mx-0" src="img/colecao.jpg" alt="coleções" style="max-width: 275px">
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="order-1 order-md-2">
            <a id="logocenter" href="index.html" class="navbar-brand ">My Ecommerce <span data-feather="aperture"></span></a>
          </div>
          <div class="order-4 order-md-3 col-md-4 collapse navbar-collapse" id="navbarMenu2">
            <ul class="navbar-nav ml-auto">
              <li class="d-inline d-md-none"><br></li>
              <li class="nav-item mx-1"><span data-feather="log-in"></span><span class="d-inline">&nbsp;Entrar</span></li>
              <li id="myCart" class="nav-item mx-1"><a class="d-inline" href="carrinho.html"><span data-feather="shopping-cart"></span><span class="d-inline">&nbsp;Carrinho</a></span></li>
              <li class="nav-item mx-1">
                <a class="nav-link dropdown-toggle no-icon w-100" href="#!" id="navbarDropdown-pesquisar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="">
                  <span data-feather="search"></span><span class="d-inline d-md-none d-lg-inline">Pesquisar</span>
                </a>
                <div id="searchbar" class="dropdown-menu hide my-3 py-0 border-0 text-white" aria-labelledby="navbarDropdown-pesquisar" style="border-radius:0">
                  <form class="" method="post">
                    <table class="d-inline d-md-none" style="float:left">
                      <tr>
                        <td><input type="text" name="searchQuery" placeholder="Pesquise aqui" size="30"></td>
                        <td><input class="bg-light border border-success rounded" type="submit" value=">" style="color:blue; background-color:transparent;" /></td>
                      </tr>
                    </table>
                  </form>
                  <form method="post">
                    <table class="d-none d-md-block d-lg-none" style="float:left; background-color:transparent;">
                      <tr>
                        <td><input type="text" name="searchQuery" placeholder="Pesquise aqui" size="28"></td>
                        <td><input class="bg-light border border-success rounded" type="submit" value=">" style="color:blue;"/></td>
                      </tr>
                    </table>
                  </form>
                  <form method="post">
                    <table class="d-none d-lg-block d-xl-none" style="float:left; background-color:transparent;">
                      <tr>
                        <td><input type="text" name="searchQuery" placeholder="Pesquise aqui" size="35"></td>
                        <td><input class="bg-light border border-success rounded" type="submit" value=">"/></td>
                      </tr>
                    </table>
                  </form>
                  <form method="post">
                    <table class="d-none d-xl-block" style="float:left; background-color:transparent;">
                      <tr>
                        <td><input type="text" name="searchQuery" placeholder="Pesquise aqui" size="45"></td>
                        <td><input class="bg-light border border-success rounded" type="submit" value=">"/></td>
                      </tr>
                    </table>
                  </form>
                </div>
              </li>
            </ul>
          </div>
          <div class="order-2 d-inline-block d-md-none text-right ">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation" onclick="menuLayer()">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </nav>
    </header>
    <!-- building block -->
<main>
  <!-- Jumbotron -->
  <div class="jumbotron jumbotron-fluid my-0 pt-0 pb-0 overflow-hidden">
      <img id="jumbotron-img" class="img img-fluid overflow-hidden"src="img/background.jpg" alt="background">
      <div id="jumbotron-text" class="text-white">
        <h1 id="jumbotron-text-content" class="display-1 mt-1 mb-3 font-weight-light">Fashion Week <b class="d-block">Meu Ecommerce '20</b>
        <a class="btn btn-light d-inline-block text-center jumbotron-btn" href="preco.html" style="display:block">Aproveite as Ofertas</a></h1>
      </div>
  </div>
  <!-- vitrine block -->
  <div id="vitrine" class="container-fluid overflow-hidden border border-light rounded py-3 bg-light" style="position:relative">
      <div class="d-flex flex-row flex-nowrap vitrine">
        <div class="card vitrine-item order-1" >
          <div class="card-hover-mask">
          </div>
          <img src="img/vitrine1.jpg" class="card-img-top" alt="Item 1 da Vitrine">
          <div class="card-body">
            <h5 class="card-title">Conjunto Camisas</h5>
            <p class="card-text">R$ 199,90<br>P M G</p>
          </div>

        </div>
        <div class="card vitrine-item order-2" >
          <div class="card-hover-mask">

          </div>
          <img src="img/vitrine2.jpg" class="card-img-top" alt="Item 1 da Vitrine">
          <div class="card-body">
            <h5 class="card-title">Vestido Natal</h5>
            <p class="card-text">R$ 199,90<br>P M G</p>
          </div>
        </div>
        <div class="card vitrine-item order-3" >
          <div class="card-hover-mask">

          </div>
          <img src="img/vitrine3.jpg" class="card-img-top" alt="Item 1 da Vitrine">
          <div class="card-body">
            <h5 class="card-title">Vestido Natal Azul</h5>
            <p class="card-text">R$ 199,90<br>P M G</p>
          </div>
        </div>
        <div class="card vitrine-item order-4" >
          <div class="card-hover-mask">

          </div>
          <img src="img/vitrine4.jpg" class="card-img-top img-fluid" alt="Item 1 da Vitrine">
          <div class="card-body">
            <h5 class="card-title">Conjunto Camisas</h5>
            <p class="card-text">R$ 199,90<br>P M G</p>
          </div>
        </div>
        <div class="card vitrine-item order-5" >
          <div class="card-hover-mask">

          </div>
          <img src="img/vitrine5.jpg" class="card-img-top" alt="Item 1 da Vitrine">
          <div class="card-body">
            <h5 class="card-title">Vestido Natal</h5>
            <p class="card-text">R$ 199,90<br>P M G</p>
          </div>
        </div>
        <div class="card vitrine-item order-6" >
          <div class="card-hover-mask">

          </div>
          <img src="img/vitrine6.jpg" class="card-img-top" alt="Item 1 da Vitrine">
          <div class="card-body">
            <h5 class="card-title">Vestido Natal Azul</h5>
            <p class="card-text">R$ 199,90<br>P M G</p>
          </div>
        </div>
      </div>
      <span class="vitrine-control-next-icon" aria-hidden="true"></span>
  </div>
  <!-- Carousel block -->
  <div class="mcontainer">
    <div class="container d-md-none text-center lead my-0 py-0" style="font-size: 2rem; font-weight: bold">
        <p class="mb-0 ">Navegue por Categoria</p>
    </div>
  <div id="layoutCarrossel" class="carousel slide mx-md-3 d-md-none" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#layoutCarrossel" data-slide-to="0" class="active"></li>
      <li data-target="#layoutCarrossel" data-slide-to="1"></li>
      <li data-target="#layoutCarrossel" data-slide-to="2"></li>
      <li data-target="#layoutCarrossel" data-slide-to="3"></li>
      <li data-target="#layoutCarrossel" data-slide-to="4"></li>
      <li data-target="#layoutCarrossel" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="layouts/layout2/layout2.html"><img class="d-block w-100 img-fluid" src="img/mencategory.jpg" alt="First slide"></a>
        <span class="carousel-mask" data-tool-tip="Masculino"></span>
      </div>
      <div class="carousel-item">
        <a href="layouts/layout2/layout2.html"><img class="d-block w-100 img-fluid" src="img/womencategory.jpg" alt="First slide"></a>
        <span class="carousel-mask" data-tool-tip="Feminino"></span>
      </div>
      <div class="carousel-item">
        <a href="layouts/layout2/layout2.html"><img class="d-block w-100 img-fluid" src="img/kidscategory.jpg" alt="First slide"></a>
        <span class="carousel-mask" data-tool-tip="Infantil"></span>
      </div>
      <div class="carousel-item">
        <a href="layouts/layout2/layout2.html"><img class="d-block w-100 img-fluid" src="img/sportcategory.jpg" alt="First slide"></a>
        <span class="carousel-mask" data-tool-tip="Esportes"></span>
      </div>
      <div class="carousel-item">
        <a href="layouts/layout2/layout2.html"><img class="d-block w-100 img-fluid" src="img/wintercategory.jpg" alt="First slide"></a>
        <span class="carousel-mask" data-tool-tip="Inverno"></span>
      </div>
      <div class="carousel-item">
        <a href="layouts/layout2/layout2.html"><img class="d-block w-100 img-fluid" src="img/summercategory.jpg" alt="First slide"></a>
        <span class="carousel-mask" data-tool-tip="Verão"></span>
      </div>
    </div>
    <a class="carousel-control-prev" href="#layoutCarrossel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#layoutCarrossel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
  <!-- vertical carousel -->
  <div style="background-color: #FFF7FC;">
    <div class="container d-none d-md-block text-center lead my-0 py-0" style="font-size: 2rem; font-weight: bold">
        <p class="mb-0 ">Navegue por Categoria</p>
    </div>
    <div class="container d-none d-md-block" style="background-color: #FFF7FC; cursor:pointer;">
    <div class="row d-flex justify-content-center">
      <div id="carouselVertleft" class="carousel vert slide col-6 px-0" data-ride="carousel" data-interval="5000">
        <ol class="carousel-indicators carousel-indicators-left">
          <li data-target="#carouselVertleft" data-slide-to="0" class="active"></li>
          <li data-target="#carouselVertleft" data-slide-to="1"></li>
          <li data-target="#carouselVertleft" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" style="min-height:300px;">
          <div class="carousel-item active" style="min-height:300px;">
            <img class="d-block mx-0 img img-fluid" style="min-height:300px;"src="img/mencategory.jpg" alt="First slide">
            <span class="vert-carousel-mask-left" data-tool-tip="Masculino"></span>
          </div>
          <div class="carousel-item">
            <img class="d-block mx-0 img img-fluid" style="min-height:300px;"src="img/womencategory.jpg" alt="Second slide">
            <span class="vert-carousel-mask-left" data-tool-tip="Feminino"></span>
          </div>
          <div class="carousel-item">
            <img class="d-block mx-0 img img-fluid" style="min-height:300px;"src="img/kidscategory.jpg" alt="Third slide">
            <span class="vert-carousel-mask-left" data-tool-tip="Infantil"></span>
          </div>
        </div>
      </div>
      <div id="carouselVertright" class="carousel vert slide col-6 px-0" data-ride="carousel" data-interval="5000">
        <ol class="carousel-indicators carousel-indicators-right">
          <li data-target="#carouselVertright" data-slide-to="0" class="active"></li>
          <li data-target="#carouselVertright" data-slide-to="1"></li>
          <li data-target="#carouselVertright" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" style="min-height:300px;">
          <div class="carousel-item active" style="min-height:300px;">
            <img class="d-block mx-0 img img-fluid" style="min-height:300px;" src="img/sportcategory.jpg" alt="First slide">
            <span class="vert-carousel-mask-right" data-tool-tip="Esportes"></span>
          </div>
          <div class="carousel-item">
            <img class="d-block mx-0 img img-fluid" style="min-height:300px;" src="img/wintercategory.jpg" alt="Second slide">
            <span class="vert-carousel-mask-right" data-tool-tip="Inverno"></span>
          </div>
          <div class="carousel-item">
            <img class="d-block mx-0 img img-fluid"  style="min-height:300px;"src="img/summercategory.jpg" alt="Third slide">
            <span class="vert-carousel-mask-right" data-tool-tip="Verão"></span>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="text-center py-2">
      <a class="btn btn-outline-secondary" href="preco.html">Veja todas as categorias</a>
    </div>
  </div>
  <!--sale block -->
  <div class="text-center py-2 bg-light border rounded">
    <div class="py-2 py-lg-3 d-flex flex-row justify-content-center">
      <div class="row">
        <div class="col-lg-4 col-xl-3 d-none d-lg-inline-block">
          <div class="sales-banner">
            <img src="img/sale3.jpg" alt="Banner Liquidação" style="height:100%; width:100%">
          </div>
        </div>
        <div class="col-lg-8 col-xl-9">
          <div class="row mb-2">
            <div class="sales-card d-inline mr-2 border border-dark rounded">
              <img src="img/vitrine1.jpg" alt="Liquidação 1" style="height:100%; width:100%">
              <span class="sales-pic-mask" data-tool-tip="35% off"></span>
              <div class="sales-card-mask" data-tool-tip="35% off">
              </div>
            </div>
            <div class="sales-card d-inline mr-2 border border-dark rounded">
              <img src="img/vitrine2.jpg" alt="Liquidação 2" style="height:100%; width:100%">
              <span class="sales-pic-mask" data-tool-tip="50% off"></span>
              <div class="sales-card-mask">
              </div>
            </div>
            <div class="sales-card d-none d-xl-inline border border-dark rounded">
              <img src="img/vitrine3.jpg" alt="Liquidação 3" style="height:100%; width:100%">
              <span class="sales-pic-mask" data-tool-tip="5% off"></span>
              <div class="sales-card-mask">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="sales-card d-inline mr-2 border border-dark rounded">
              <img src="img/vitrine4.jpg" alt="Liquidação 1" style="height:100%; width:100%">
              <span class="sales-pic-mask" data-tool-tip="65% off"></span>
              <div class="sales-card-mask">
              </div>
            </div>
            <div class="sales-card d-inline mr-2 border border-dark rounded">
              <img src="img/vitrine5.jpg" alt="Liquidação 2" style="height:100%; width:100%">
              <span class="sales-pic-mask" data-tool-tip="35% off"></span>
              <div class="sales-card-mask">
              </div>
            </div>
            <div class="sales-card d-none d-xl-inline border border-dark rounded">
              <img src="img/vitrine6.jpg" alt="Liquidação 3" style="height:100%; width:100%">
              <span class="sales-pic-mask" data-tool-tip="35% off"></span>
              <div class="sales-card-mask">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="btn btn-outline-secondary" href="preco.html">Quer conferir mais ofertas? Navegue por toda a liquidação!</a>
  </div>
  <!-- multi-item carousel block -->
<div class="container" style="padding:0; text-align:center">
  <h2 class="display-4">Mais Desejados</h2>
  <div id="multiCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="card multi col-6 col-md-3" style="width: 18rem;">
          <img src="img/vitrine3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card multi col-6 col-md-3" style="width: 18rem;">
          <img src="img/vitrine2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card multi col-6 col-md-3" style="width: 18rem;">
          <img src="img/vitrine4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card multi col-6 col-md-3" style="width: 18rem;">
          <img src="img/vitrine6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="card multi col-6 col-md-3 " style="width: 18rem;">
          <img src="img/vitrine3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card multi col-6 col-md-3" style="width: 18rem;">
          <img src="img/vitrine2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card multi col-6 col-md-3" style="width: 18rem;">
          <img src="img/vitrine4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card multi col-6 col-md-3" style="width: 18rem;">
          <img src="img/vitrine6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="card multi col-6 col-md-3" style="width: 18rem;">
          <img src="img/vitrine3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card multi col-6 col-md-3" style="width: 18rem;">
          <img src="img/vitrine2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card multi col-6 col-md-3" style="width: 18rem;">
          <img src="img/vitrine4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card multi col-6 col-md-3" style="width: 18rem;">
          <img src="img/vitrine6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev multi" href="#multiCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next multi" href="#multiCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>
  <!-- rodapé block -->
  <div class="w-100 NavBarBottom d-flex flex-row justify-content-around">
    <a class="nav-link text-secondary overflow-hidden" href="#">Topo do Site</a>
    <a class="nav-link text-secondary overflow-hidden" href="carrinho.html"><span class="d-inline">Ir para o Carrinho</span><span data-feather="shopping-cart"></span></a>
  </div>
</main>
<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
    My Ecommerce <span data-feather="aperture"></span>
      <small class="d-block mb-3 text-muted">&copy; 2019</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Cool stuff</a></li>
        <li><a class="text-muted" href="#">Random feature</a></li>
        <li><a class="text-muted" href="#">Team feature</a></li>
        <li><a class="text-muted" href="#">Stuff for developers</a></li>
        <li><a class="text-muted" href="#">Another one</a></li>
        <li><a class="text-muted" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Resource name</a></li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Business</a></li>
        <li><a class="text-muted" href="#">Education</a></li>
        <li><a class="text-muted" href="#">Government</a></li>
        <li><a class="text-muted" href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
<!-- building block -->

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>
</body>
</html>
