.c927{
	padding-right: 2px; 
	color: #495057;
	cursor: pointer;
}
 
.cstf{
	padding-right: 2px; 
	color: #495057;
	cursor: pointer;
    font-size: 14px !important;
    text-indent: 0px !important;
}