/*
 * Custom translucent site header
 */
.jumbotron {
  background-color:transparent;
}
#jumbotron {
  /* opacity: 0.9; */
  filter: brightness(70%) /* For IE8 and earlier */
}
.nav-item {
    cursor: pointer;
}
.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}
@media (max-width: 767px) {
  .header-dark {
    background-color: rgba(16, 16, 16, 0.65) !important;
    width: 100%;
  }
  .container {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .nav-item:hover {
    background-color: rgba(128, 128, 128, 0.7) !important;
  }
}
.nav-item:hover {
  font-weight: bold !important;
}
#logocenter {
  margin: 0 auto;
}
.overflow-hidden { overflow: hidden; }
.overflow-auto { overflow: auto; }
#ddmenu {
  cursor: pointer;
  font-size: 28px;
}
#navbar {
  transition: top 0.5s ease-in 0.5s;
}
.nav-link {
  display: inline;
}
#colecoes {
  opacity: 0.8;
  background-color: #fff1e0;
}
.card-body {
  min-height: 300px;
  min-width: 300px;
  margin-right: 5px;
}
/*Media based criteria */
@media screen and (min-width:768px) {
	h1 {
		font-size:4rem !important;
    }
  #colecoes {
    width: 500px;
  }
}
@media screen and (min-width:992px) {
  #colecoes {
    width: 700px;
  }
}
@media screen and (min-width:1200px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .img-fluid {
    width:100% !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1359px) {


}
@media only screen and (min-width: 1360px) {

}
